<section
    class='bg-black h-screen w-screen relative overflow-hidden flex flex-col items-center'
>
    <div class='z-30 relative h-full flex flex-col items-center'>
        <header class='pt-40 '>
            <div class="w-full mix-blend-multiply">
                <img
                    class='w-[22rem]'
                    src='/svg/logo-aux.svg'
                    alt=''
                />
            </div>
        </header>

        <footer class='flex flex-col flex-grow flex-nowrap justify-end pb-24'>
            <a
                href='#'
                class='border-2 border-white py-2 px-8 rounded-lg text-white hover:bg-white hover:text-black transitio-colors duration-300 backdrop-blur-xl'
            >
                Elige una tu caja
            </a>
        </footer>
    </div>
    <div class='z-10 absolute top-0 bottom-0 h-full'>
        <video
            id="miVideo"
            class='h-full brightness-50'
            muted
            autoplay
            loop
            src='/videos/camion.mp4'
        ></video>
    </div>
</section>


