<section
    class='body-section bg-black h-screen w-screen relative overflow-hidden flex flex-col items-center'
    data-header-color="white"
    data-bg="black"
    data-opacity=.5
>
    <div class='z-30 relative h-full flex flex-col items-center'>
        <header class='pt-40 '>
            <div
            class='w-screen h-full bg-white bg-opacity-10 backdrop-blur-sm p-4 flex justify-center items-center'
        >
            <img
                class='w-[22rem]'
                src='/svg/logo-aux.svg'
                alt=''
            />
        </div>
        </header>

        <footer class='flex flex-col flex-grow flex-nowrap justify-end pb-24'>
            <a
                href='#'
                class='bg-white bg-opacity-20 border-2 border-white py-2 px-8 rounded-lg text-current hover:bg-white hover:text-black transitio-colors duration-300 backdrop-blur-xl'
            >
                Elige una tu caja
            </a>
        </footer>
    </div>
    <div class='z-10 absolute top-0 bottom-0 h-full object-cover'>
        <img class="object-cover object-center h-screen" src="./imagenes/nave.jpg" alt="">
    </div>
</section>


