<section
    class='body-section bg-black h-screen w-screen relative overflow-hidden flex flex-col items-center'
    data-header-color="black"
    data-bg="white"
    data-opacity=.5
>
    <div class='z-30 relative h-full flex flex-col items-center'>
        <header class='pt-40 '>
            <div class="w-full mix-blend-multiply">
                <img
                    class='w-[22rem]'
                    src='/svg/logo-aux.svg'
                    alt=''
                />
            </div>
        </header>

        <footer class='flex flex-col flex-grow flex-nowrap justify-end pb-24'>
            <a
                href='#'
                class='bg-white bg-opacity-20 border-2 border-white py-2 px-8 rounded-lg text-current hover:bg-white hover:text-black transitio-colors duration-300 backdrop-blur-xl'
            >
                Elige una tu caja
            </a>
        </footer>
    </div>
    <div class='z-10 absolute top-0 bottom-0 h-full object-cover'>
        <img class="object-cover object-center h-screen" src="./imagenes/A6.jpg" alt="">
    </div>
</section>


